*{
  background-color:rgb(56, 113, 164) ;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;

}
.header__h1 {
  margin-bottom: 25px;
  font-size: 1rem;
  text-align: center;
  display: block;
  font-family: $font-main;
  white-space: nowrap;
  border-right: 4px solid;
  width: 33ch;
  color: white;

  animation: typing 3s steps(12), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.form {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputSearch {
  width: 200px;
  padding: 5px;
  text-align: center;
  font-size: 0.65rem;
  border-radius: 55px;
  font-family: $font-main;
  border: none;
  background-color: rgb(240, 248, 255);
}

.searchBtn {
  width: 30px;
  height: 30px;
  font-size: 0.9rem;
  background: none;
  border: none;
  border-radius: 5px;
  color: white;
  left: 190px;
} 
@media (min-width: 768px) {
  .header__h1 {
    font-size: 2rem;
  }
  .inputSearch {
    width: 500px;
    height: 40px;
    font-size: 1.2rem;
  }
  .searchBtn {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .header__h1 {
    font-size: 2.6rem;
    width: 36ch;
  }
  .inputSearch {
    position: relative;
    width: 800px;
    height: 40px;
    font-size: 1.7rem;
  }
}
